chardet==5.0.0
-e git+https://github.com/posborne/cmsis-svd.git@9c416c5ff18e7d272a792c13bd235ebe30eef816#egg=cmsis_svd&subdirectory=python
parse==1.19.0
prettytable==3.5.0
PyYAML==6.0
six==1.16.0
wcwidth==0.2.5
z3-solver==4.11.2.0
